<section class="content">

  <form class="form" [formGroup]="form" (ngSubmit)="onFormSubmit()">

    <div class="form__input-holder">
      <input class="form__input" required type="text" ngxPhoneMask formControlName="phone">
      <span class="form__placeholder">Номер телефона</span>
    </div>

    <div class="form__input-holder">
      <input class="form__input" required type="text" formControlName="surname">
      <span class="form__placeholder">Фамилия</span>
    </div>

    <div class="form__input-holder">
      <input class="form__input" required type="text" formControlName="name">
      <span class="form__placeholder">Имя</span>
    </div>

    <div class="form__input-holder">
      <input class="form__input" required type="text" formControlName="fname">
      <span class="form__placeholder">Отчество (при наличии)</span>
    </div>

    <div class="form__input-holder">
      <input class="form__input" required type="text" formControlName="email">
      <span class="form__placeholder">E-mail</span>
    </div>

    <div class="form__width-100">
      <label class="container">Принимаю <span
        class="form__agree-text">Соглашения об обработке персональных данных</span>
        <input type="checkbox" checked="checked" required formControlName="agree">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="form__width-100">
      <label class="container">Принимаю <span class="form__agree-text">Условия универсального агентского договора</span>
        <input type="checkbox" checked="checked" required formControlName="agree2">
        <span class="checkmark"></span>
      </label>
    </div>
    <button type="submit" class="form__register" [class.form__opacity-05]="!form.valid" [disabled]="!form.valid">
      Зарегистрироваться
    </button>

  </form>

</section>
