<header class="header">
  <span class="toggle-icon" (click)="menu = !menu">
    <img *ngIf="!menu" src="../../assets/img/toggle.png" alt="menu-icon">
  </span>
  <span *ngIf="!menu" class="title">Регистрация в кабинете</span>
  <span *ngIf="menu" class="title">Меню</span>
  <ul class="main-menu" [class.menu]="menu">
    <img (click)="menu = !menu" *ngIf="menu" class="main-menu__close-icon" src="../../assets/img/close.png" alt="close">
    <li class="main-menu__item">
      <div class="main-menu__circle"></div>
      <a>Профиль</a></li>
    <li class="main-menu__item">
      <div class="main-menu__circle"></div>
      <a>Расчёты</a></li>
    <li class="main-menu__item">
      <div class="main-menu__circle"></div>
      <a>Договоры</a></li>

    <li class="main-menu__item dropdown">
      <div class="main-menu__item__content">
        <div class="main-menu__circle"></div>
        <a (click)="dropDown('delivery')">Поставщики
          <img *ngIf="!subMenu.delivery" class="main-menu__arrow-down" src="../../assets/img/arrow.png"
               alt="arrow-down">
          <img *ngIf="subMenu.delivery" class="main-menu__arrow-up" src="../../assets/img/arrow.png" alt="arrow-down">
        </a>
      </div>
      <ul [class.display]="subMenu.delivery" class="sub-menu">
        <li class="border-top"><a>Разработка</a></li>
        <li><a>Продвижение</a></li>
        <li><a>Контекст</a></li>
      </ul>
    </li>

    <li class="main-menu__item dropdown">
      <div class="main-menu__item__content">
        <div class="main-menu__circle"></div>
        <a (click)="dropDown('clients')">Заказчики
          <img *ngIf="!subMenu.clients" class="main-menu__arrow-down" src="../../assets/img/arrow.png" alt="arrow-down">
          <img *ngIf="subMenu.clients" class="main-menu__arrow-up" src="../../assets/img/arrow.png" alt="arrow-down">
        </a>
      </div>
      <ul [class.display]="subMenu.clients" class="sub-menu">
        <li class="border-top"><a>Разработка</a></li>
        <li><a>Продвижение</a></li>
        <li><a>Контекст</a></li>
      </ul>
    </li>


    <li class="main-menu__item item__special">
      <div class="main-menu__circle"></div>
      <a>Кабинет агента</a></li>
    <li class="main-menu__item">
      <div class="main-menu__circle"></div>
      <a>Вопросы и Ответы</a></li>
    <li class="main-menu__item">
      <div class="main-menu__circle"></div>
      <a>Настройки приложения</a></li>
    <li class="main-menu__item">
      <div class="main-menu__circle"></div>
      <a>Информация о приложении</a></li>
  </ul>
</header>
