$font-size-basic: 1.1rem;
$font-family: 'Roboto';
$color-basic: #E83559;
$color-basic2: #e5e5e5;
$color-font: #165c7a;
$color-white: white;
$content-width: 22.4rem;
$radius: 0.5rem;

body {
  margin: 0;
  background-color: $color-basic;
  font-family: $font-family;
}

.content {
  display: flex;
  border-radius: 0.5rem;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background-color: white;
  height: 100vh;
  position: relative;
  z-index: 1;
  margin: 0 0.375rem;


  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1.09rem;
    box-sizing: border-box;


    .form__opacity-05 {
      opacity: 0.5;
    }

    .form__width-100 {
      width: 100%;
    }
  }

  .form__input-holder {
    position: relative;
    margin-bottom: 2rem;
    width: 100%;
  }

  .form__input {
    display: block;
    width: 100%;
    height: 2rem;
    border: 0;
    border-bottom: 0.08rem solid $color-basic2;
    font-size: $font-size-basic;
    color: black;
    background-color: transparent;
    z-index: 1;
    outline: 0;

    &:focus, &:valid {
      + .form__placeholder {
        position: absolute;
        top: -1rem;
        left: 0;
        transition: top .3s;
        opacity: 1;
        font-size: $font-size-basic - 0.2rem;
      }
    }
  }

  .form__placeholder {
    font-size: $font-size-basic;
    opacity: 0.6;
    position: absolute;
    top: 0.5rem;
    transition: top .5s;
    z-index: -1;
  }

  .form__register {
    width: 20.06rem;
    height: 2.8rem;
    border: 0;
    border-radius: 2rem;
    color: white;
    background-color: $color-basic;
    font-size: $font-size-basic - 0.1rem;
    outline: 0;
    margin-top: 2rem;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
    font-size: $font-size-basic - 0.2rem;
    user-select: none;
    width: 100%;
    box-sizing: border-box;
    padding-right: 4rem;

    .form__agree-text {
      color: $color-basic;
      text-decoration: underline;
    }

    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        background-color: $color-basic;
      }

      &:checked ~ .checkmark:after {
        display: block;
      }
    }

    .checkmark {
      position: absolute;
      top: 0.35rem;
      left: 0.2rem;
      height: 1rem;
      width: 1rem;
      background-color: #eee;
      border-radius: 50%;

      &::after {
        content: "";
        position: absolute;
        display: none;
      }
    }

  }

  .container .checkmark:after {
    left: 0.38rem;
    top: 0.09rem;
    width: 0.2rem;
    height: 0.5rem;
    border: solid white;
    border-width: 0 0.1rem 0.1rem 0;
    transform: rotate(45deg);
  }
}

.header {
  width: 100%;
  background-color: #E83559;
  height: 2rem;
  position: relative;
  text-align: center;
  color: $color-white;
  padding: 1rem 0.375rem 0;
  box-sizing: border-box;
  margin-bottom: 1rem;

  .toggle-icon {
    position: absolute;
    top: 1.1rem;
    left: 1.5rem;

    img {
      width: 1.2rem;
      height: 0.8rem;
    }
  }

  .title {
    font-size: $font-size-basic;
    font-family: $font-family;
  }

  .main-menu {
    width: 100%;
    border-radius: 0.5rem;
    height: 100vh;
    margin: 0.66rem 0 0 -102%;
    padding: 2.5rem 1rem 0;
    list-style: none;
    background-color: white;
    transition: 0.8s;
    position: relative;
    box-sizing: border-box;
    z-index: 3;

    a {
      display: block;
      padding: 0.8rem 0.76rem;
      color: black;
      font-size: $font-size-basic;
      text-decoration: none;
      position: relative;
      text-align: left;
      font-weight: 100;
    }

    .main-menu__close-icon {
      position: absolute;
      right: 0.5rem;
      top: -1.8rem;
      width: 1.5rem;
      height: 1.5rem;
    }

    .main-menu__item {
      display: flex;
      justify-content: flex-start;
      //margin-left: 1rem;
      width: 100%;
      margin-bottom: 0.5rem;
    }

    .dropdown {
      flex-direction: column;
    }

    .main-menu__item__content {
      display: flex;
      justify-content: flex-start;
    }

    .item__special {
      background-color: #E83559;
      border-radius: 2rem;

      a {
        color: $color-white;
      }

      .main-menu__circle {
        background-color: $color-white;
      }
    }

    .main-menu__circle {
      width: 2.425rem;
      height: 2.425rem;
      background-color: $color-basic2;
      border-radius: 50%;
      margin: 0.25rem 0 0 0.2rem;
    }

    .main-menu__arrow-down {
      transform: rotate(90deg);
      width: 0.5rem;
      height: 0.9rem;
      position: absolute;
      right: -1rem;
      top: 1.1rem;
    }

    .main-menu__arrow-up {
      transform: rotate(-90deg);
      width: 0.5rem;
      height: 0.9rem;
      position: absolute;
      right: -1rem;
      top: 1.1rem;
    }

    /* sub-menu */

    .sub-menu {
      margin-left: 3.2rem;
      padding: 0;
      list-style: none;
      display: none;

      .border-top {
        border-top: 1px solid $color-basic2;
      }

      li {

        border-bottom: 1px solid $color-basic2;

        a {
          padding: 0.6rem 0;
          font-size: $font-size-basic - 0.09rem;
        }
      }
    }

  }

  .display {
    display: block !important;
  }

  .menu {
    margin-left: 0;
  }
}


